.upload-components-container{

  .pics{
    width: 50%;
    display: inline-block;
    text-align: left;
  }

  .pics img{
    width: 120px;
    height: 110px;
    padding-left: 20px;
  }

  .pic-upload{
    width: 47%;
    display: inline-block;
    padding-right: 10px;
    position: relative;
  }

  .upload-button{
    width: 60px;
    height: 60px;
  }

  .tips{
    color: #ccc6c6;
    position: absolute;
    bottom: 20px;
    right: 75px;
  }

  .input_file{

    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .input_file + label {
    color: #ccc6c6;
  }

}
